.voca_wrap {
  min-height:100vh;
  padding:80px 20px 120px;
  .container {
    display:flex;
  }
  // 타이틀
  .voca_top {
    flex:1;
    width:100%;
    margin-bottom:24px;
    box-sizing:border-box;
    .voca_tit {
      width:100%;
      font-size:24px;
    }
    .voca_box {
      display:flex;
      align-items:center;
      justify-content:space-between;
      flex-wrap:wrap;
      margin-top:16px;
      .voca_txt {
        width:100%;
        margin-right:8px;
        font-size:14px;
        line-height:20px;
      }
      .btn_add_word {
        display:inline-flex;
        align-items:center;
        justify-content:center;
        height:30px;
        margin-top:36px;
        padding:0 24px;
        color:#fff;
        font-size:14px;
        border:1px solid var(--primary-30);
        border-radius:8px;
        background:var(--primary-30);
      }
    }
  }
  // 내용
  .voca_con {
    flex:3;
    width:100%;
    margin-left:28px;
    .voca_desc {
      margin:24px 0 12px;
      font-size:14px;
    }
    .list_box {
      box-shadow:0 1px 12px -10px #000;
    }
  }
}

@media screen and (max-width:960px) {
  .voca_wrap {
    padding:32px 0 140px;
    .container {
      display:block;
    }
    .voca_top {
      padding:0 20px;
      .voca_tit {
        font-size:18px;
      }
      .voca_add {
        margin-top:8px;
        .voca_txt {
          font-size:12px;
          line-height:18px;
        }
        .btn_add_word {
          position:fixed;
          right:24px;
          bottom:100px;
          display:inline-flex;
          align-items:center;
          justify-content:center;
          flex-shrink:0;
          width:40px;
          height:40px;
          padding:0;
          border-radius:50%;
          background:var(--primary-30) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath opacity='0.15' d='M4.33301 21.6667H8.66634L19.4997 10.8333L15.1663 6.5L4.33301 17.3333V21.6667Z' fill='white'/%3E%3Cpath d='M19.4997 10.8333L22.7497 7.58333L18.4163 3.25L15.1663 6.5M19.4997 10.8333L8.66634 21.6667H4.33301V17.3333L15.1663 6.5M19.4997 10.8333L15.1663 6.5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
          span {
            display:none;
          }
        }
      }
    }
    .voca_con {
      margin:0;
      .tab_box {
        margin-left:20px;
      }
      .voca_desc {
        margin:0 20px;
        font-size:12px;
      }
      .list_box {
        margin:16px 20px 0;
      }
    }
  }
}