/* 플로팅 푸터박스 */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  z-index: 100;
  box-sizing: border-box;
  transition: 0.3s;
  .footer_list {
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

    .list {
      width: 100%;

      .link {
        display: block;
        padding: 20px 0;
        width: 100%;
        font-size:14px;
        text-align: center;
        &:before {
          display: block;
          margin: 0 auto;
          width: 24px;
          height: 24px;
          background-position:center;
          background-repeat:no-repeat;
          content: '';
        }
        &.home {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_136_610)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.7878 2.21645C11.4573 1.54699 12.5427 1.54699 13.2122 2.21645L23.4979 12.5022C24.1673 13.1716 24.1673 14.2571 23.4979 14.9265C22.8285 15.596 21.743 15.596 21.0735 14.9265L12 5.853L2.92647 14.9265C2.25699 15.596 1.17157 15.596 0.502102 14.9265C-0.167367 14.2571 -0.167367 13.1716 0.502102 12.5022L10.7878 2.21645Z' fill='%23C0CFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.42871 12.0001V22.2859C3.42871 23.2327 4.19623 24.0001 5.143 24.0001H18.8573C19.8041 24.0001 20.5716 23.2327 20.5716 22.2859V12.0001L12.0001 3.42871L3.42871 12.0001ZM15 15H9V24H15V15Z' fill='%23C0CFDF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_136_610'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          }
        }
        &.library {
          &:before {
            margin-top:1px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_136_606)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.857143 0.2146C0.383757 0.2146 0 0.598356 0 1.07174V18.2145C0 18.688 0.383757 19.0717 0.857143 19.0717H9.01039C8.72611 18.2675 8.57143 17.402 8.57143 16.5003C8.57143 14.3208 9.47527 12.3524 10.9286 10.9495V2.4474C10.4433 1.14347 9.18727 0.2146 7.71429 0.2146H0.857143ZM13.0714 2.44738V9.48552C14.0499 9.03641 15.1386 8.78602 16.2857 8.78602C20.2519 8.78602 23.519 11.7791 23.9515 15.6298H24V1.07174C24 0.598356 23.6162 0.2146 23.1429 0.2146H16.2857C14.8127 0.2146 13.5567 1.14344 13.0714 2.44738Z' fill='%23C0CFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.2853 16.5004C13.2853 14.8435 14.6284 13.5004 16.2853 13.5004C17.9422 13.5004 19.2853 14.8435 19.2853 16.5004C19.2853 18.1572 17.9422 19.5003 16.2853 19.5003C14.6284 19.5003 13.2853 18.1572 13.2853 16.5004ZM16.2853 10.929C13.2083 10.929 10.7139 13.4234 10.7139 16.5004C10.7139 19.5775 13.2083 22.0717 16.2853 22.0717C17.3579 22.0717 18.3599 21.7687 19.21 21.2434L21.3754 23.4087C21.8775 23.9108 22.6916 23.9108 23.1937 23.4087C23.6958 22.9066 23.6958 22.0925 23.1937 21.5904L21.0282 19.4251C21.5536 18.5749 21.8567 17.5731 21.8567 16.5004C21.8567 13.4234 19.3623 10.929 16.2853 10.929Z' fill='%23C0CFDF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_136_606'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          }
        }
        &.community {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M3.00003 11.5C2.99659 12.8199 3.30496 14.1219 3.90003 15.3C4.6056 16.7118 5.69028 17.8992 7.03258 18.7293C8.37488 19.5594 9.92179 19.9994 11.5 20C12.8199 20.0035 14.1219 19.6951 15.3 19.1L21 21L19.1 15.3C19.6951 14.1219 20.0035 12.8199 20 11.5C19.9994 9.92179 19.5594 8.37488 18.7293 7.03258C17.8992 5.69028 16.7118 4.6056 15.3 3.90003C14.1219 3.30496 12.8199 2.99659 11.5 3.00003H11C8.91568 3.11502 6.94699 3.99479 5.47089 5.47089C3.99479 6.94699 3.11502 8.91568 3.00003 11V11.5Z' fill='%23C0CFDF'/%3E%3Cpath d='M21 21L15.3 19.1C15.3 19.1 14.0847 20 11.5 20C6.80558 20 3 16.1944 3 11.5C3 6.80558 6.80558 3 11.5 3C16.1944 3 20 6.80558 20 11.5C20 14 19.1 15.3 19.1 15.3L21 21Z' stroke='%23C0CFDF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.5 11.5H15.51M11.5 11.5H11.51M7.5 11.5H7.51' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          }
        }
        &.profile {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.73747 0.115791C6.00175 -0.0375703 6.32767 -0.0386589 6.59295 0.112934L12.3883 3.42454L18.1836 0.112934C18.4489 -0.0386589 18.7748 -0.0375703 19.0392 0.115791C19.3033 0.269153 19.466 0.551597 19.466 0.857143V7.07774C19.466 10.5476 16.9691 13.4343 13.674 14.039V22.0714C13.674 22.7815 13.0983 23.3571 12.3883 23.3571C11.6782 23.3571 11.1026 22.7815 11.1026 22.0714V14.039C7.80747 13.4343 5.31055 10.5476 5.31055 7.07774V0.857143C5.31055 0.551597 5.4732 0.269153 5.73747 0.115791Z' fill='%23C0CFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.70508 18.3751V17.2658C2.70508 16.7924 3.08884 16.4087 3.56222 16.4087H7.33744C9.84588 16.4087 11.9349 18.2045 12.3888 20.5807C12.8427 18.2045 14.9317 16.4087 17.4402 16.4087H21.2154C21.6887 16.4087 22.0725 16.7924 22.0725 17.2658V18.3751C22.0725 21.2153 19.7699 23.518 16.9297 23.518H12.4803H12.2973H7.84794C5.00762 23.518 2.70508 21.2153 2.70508 18.3751Z' fill='%23C0CFDF'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }
}