.my_word_wrap {
  min-height: calc(100vh - 40px);
  padding: 0 20px 140px;
  .container {
    margin-top:40px;
  }
  .add_top {
    display:flex;
    align-items:center;
    margin-bottom:32px;
    .tit {
      font-size: 24px;
    }
  }

  .list_box {
    box-shadow: 0 1px 12px -10px #000;
  }
}