.library_wrap {
  min-height:calc(100vh - 40px);
  padding:70px 20px 120px;
  background:#f1f4f9;

  .library_top {
    width:100%;
    .tit {
      width:100%;
      font-size:24px;
    }
    .box_btn {
      display:flex;
      align-items:center;
      justify-content:space-between;
      margin-top:16px;
      .txt {
        margin-right:6px;
        font-size:12px;
      }
      .word_add_btn {
        display:flex;
        align-items:center;
        justify-content:center;
        flex-shrink:0;
        height:26px;
        padding:0 16px;
        color:var(--primary);
        font-size:12px;
        font-weight:bold;
        line-height:26px;
        border:1px solid var(--primary);
        border-radius:8px;
        background:#fff;
      }
    }
  }
  .library_box {
    margin-top:24px;
    .library_tab {
      display:flex;
      align-items:center;
      margin-bottom:16px;
      .tab_item {
        display:flex;
        align-items:center;
        justify-content:center;
        width:auto;
        height:24px;
        padding:0 12px;
        color:var(--bg-brown);
        font-size:12px;
        border:1px solid var(--bg-brown);
        border-radius:12px;
        background:#fff;
        button {
          color:var(--bg-brown);
        }
        &+.tab_item {
          margin-left:12px;
        }
        &.active {
          color:#fff;
          font-weight:bold;
          background:var(--bg-brown);
          button {
            color:#fff;
          }
        }
      }
    }
    .word_list {
      padding:12px;
      border-radius:12px;
      background:#fff;
      li {
        &+li {
          margin-top:8px;
          padding-top:8px;
          border-top:1px solid #F7F7F7;
        }
        .item {
          display:block
        }
      }
    }
  }
}



