/* 메인 - 공통 */
.main {
  .tit {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
}

/* 메인 - 나라 선택 */
.main_top {
  display: flex;
  align-items: center;
  color: #406A52;
  font-size:32px;
  font-weight: bold;
  line-height: 36px;

  .user_country {
    display: block;
    margin-right: 24px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background:url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32 64C49.6731 64 64 49.6731 64 32C64 14.3269 49.6731 0 32 0C14.3269 0 0 14.3269 0 32C0 49.6731 14.3269 64 32 64Z' fill='%23F0F0F0'/%3E%3Cpath d='M29.3295 35.8949V35.5568C29.3362 34.3968 29.4389 33.4721 29.6378 32.7827C29.8433 32.0933 30.1416 31.5365 30.5327 31.1122C30.9238 30.688 31.3944 30.3035 31.9446 29.9588C32.3556 29.6937 32.7235 29.4186 33.0483 29.1335C33.3731 28.8485 33.6316 28.5336 33.8239 28.1889C34.0161 27.8376 34.1122 27.4465 34.1122 27.0156C34.1122 26.5582 34.0028 26.1572 33.7841 25.8125C33.5653 25.4678 33.2704 25.2027 32.8991 25.017C32.5346 24.8314 32.1302 24.7386 31.6861 24.7386C31.2552 24.7386 30.8475 24.8348 30.4631 25.027C30.0786 25.2126 29.7637 25.491 29.5185 25.8622C29.2732 26.2268 29.1406 26.6809 29.1207 27.2244H25.0639C25.0971 25.8987 25.4152 24.8049 26.0185 23.9432C26.6217 23.0748 27.4205 22.4285 28.4148 22.0043C29.4091 21.5734 30.5062 21.358 31.706 21.358C33.0251 21.358 34.1918 21.5767 35.206 22.0142C36.2202 22.4451 37.0156 23.0715 37.5923 23.8935C38.169 24.7154 38.4574 25.7064 38.4574 26.8665C38.4574 27.642 38.3281 28.3314 38.0696 28.9347C37.8177 29.5312 37.4631 30.0616 37.0057 30.5256C36.5483 30.983 36.008 31.3973 35.3849 31.7685C34.8613 32.08 34.4304 32.4048 34.0923 32.7429C33.7609 33.081 33.5123 33.4721 33.3466 33.9162C33.1875 34.3603 33.1046 34.9072 33.098 35.5568V35.8949H29.3295ZM31.2983 42.2585C30.6354 42.2585 30.0687 42.0265 29.598 41.5625C29.134 41.0919 28.9053 40.5284 28.9119 39.8722C28.9053 39.2225 29.134 38.6657 29.598 38.2017C30.0687 37.7377 30.6354 37.5057 31.2983 37.5057C31.928 37.5057 32.4815 37.7377 32.9588 38.2017C33.4361 38.6657 33.678 39.2225 33.6847 39.8722C33.678 40.3097 33.562 40.7107 33.3366 41.0753C33.1179 41.4332 32.8295 41.7216 32.4716 41.9403C32.1136 42.1525 31.7225 42.2585 31.2983 42.2585Z' fill='%23436759'/%3E%3C/svg%3E%0A") center no-repeat;
  }
}

/* 메인 - 검색 */
.search_box {
  margin: 30px 0 60px;
}

/* 메인 - 인기순위 */
.pupular_box {
  .popular_list {
    display: flex;
    flex-direction: column;
    height: 184px;
    flex-wrap: wrap;

    li {
      display: flex;
      width: 50%;
      counter-increment: list-number;
      align-items: center;
      justify-content: space-between;

      .keyword {
        overflow: hidden;
        width: 100%;
        color: #373f57;
        font-size: 15px;
        letter-spacing: -0.5px;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:before {
          display: inline-flex;
          margin-right: 8px;
          width: 22px;
          height: 22px;
          border: 1px solid #406A52;
          border-radius: 4px;
          color: #5c667b;
          font-size: 13px;
          line-height: 18px;
          content: counter(list-number);
          align-items: center;
          justify-content: center;
        }
      }

      .date {
        color: #406A52;
        font-size: 12px;
        letter-spacing: -0.5px;
      }

      & + li {
        margin: 16px 8px 0 0;
      }

      &:first-child {
        .keyword {
          &:before {
            color: #fff;
            background: #406A52;
          }
        }
      }

      &:nth-child(-n+5) {
        .date {
          margin-right: 8px;
        }
      }

      &:nth-child(6) {
        margin-top: 0;
      }

      &:nth-child(-n+3) {
        p {
          &:before {
            border-color: #4876ef;
            color: #4876ef;
          }
        }
      }
    }
  }
}


/* 메인 - 출석체크 */
.daily_box {
  margin: 40px 0 45px;

  .daily_list {
    display: flex;
    align-items: center;

    li {
      width: 100%;

      .day {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 32px;
        height: 32px;
        color: #808080;
        border-radius: 50%;
        background: #F5F9FC;

        &.check {
          background: #EB5757;

          span {
            display: none;
          }

          &:after {
            display: block;
            width: 16px;
            height: 16px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M8.26475 3.01932C9.83075 1.61332 12.2507 1.65999 13.7594 3.17132C15.2674 4.68332 15.3194 7.09132 13.9167 8.66199L8.26342 14.3233L2.61142 8.66199C1.20875 7.09132 1.26142 4.67932 2.76875 3.17132C4.27875 1.66199 6.69408 1.61132 8.26475 3.01932V3.01932Z' fill='white'/%3E%3C/svg%3E") no-repeat;
            content: '';
          }
        }
      }
    }
  }
}

/* 메인 - 출석횟수,단어등록횟수 */
.main {
  .check_list {
    .list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .link {
        display: block;
        width: 100%;
      }

      strong {
        color: #EB5757;
      }

      & + .list {
        margin-top: 26px;
      }

      &:after {
        display: block;
        width: 14px;
        height: 14px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M5.22095 2.38012L9.02428 6.18345C9.47345 6.63262 9.47345 7.36762 9.02428 7.81678L5.22095 11.6201' stroke='%23406A52' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
        content: '';
      }
    }
  }
}